*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1{
	font-family: helvetica,Arial,sans-serif;
	text-align: center;
	font-size: 175%;
	margin: 15px;
}

div{
	padding: 15px;
}

section{
	position: relative;
	width: 100%;
	height: 200px;
	border: 1px solid black;
	background-color: grey;
}

h2{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 125%;
	font-family: helvetica,sans-serif;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px 30px 2px 30px;
}

.title1{
	color: black;
	background-color: #FFB6C1;
}

.title2{
	color: white;
	background: #C4A484;
}

.title3{
	color: black;
	background-color: #98FB98;
}

p{
	padding: 35px 10px 20px 10px;
	font-weight: 300;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: sans-serif;
	overflow: hidden;
}

.row{
	width: 100%;
}

@media (min-width: 992px){
	.cl-lg-1,.cl-lg-2,.cl-lg-3,.cl-lg-4,.cl-lg-5,.cl-lg-6,.cl-lg-7,.cl-lg-8
	,.cl-lg-9,.cl-lg-10,.cl-lg-11,.cl-lg-12{
		float: left;
	}

	section{
		height: 250px;
	}

	.cl-lg-1{
		width: 8.33%;
	}
	.cl-lg-2{
		width: 16.66%;
	}
	.cl-lg-3{
		width: 25%;
	}
	.cl-lg-4{
		width: 33.33%;
	}
	.cl-lg-5{
		width: 41.66%;
	}
	.cl-lg-6{
		width: 50%%;
	}
	.cl-lg-7{
		width: 58.33%;
	}
	.cl-lg-8{
		width: 66.66%;
	}
	.cl-lg-9{
		width: 75%;
	}
	.cl-lg-10{
		width: 83.33%;
	}
	.cl-lg-11{
		width: 91.66%;
	}
	.cl-lg-12{
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.cl-md-1,.cl-md-2,.cl-md-3,.cl-md-4,.cl-md-5,.cl-md-6,.cl-md-7,.cl-md-8
	,.cl-md-9,.cl-md-10,.cl-md-11,.cl-md-12{
		float: left;
	}

	 section{
		height: 200px;
	}

	.cl-md-1{
		width: 8.33%;
	}
	.cl-md-2{
		width: 16.66%;
	}
	.cl-md-3{
		width: 25%;
	}
	.cl-md-4{
		width: 33.33%;
	}
	.cl-md-5{
		width: 41.66%;
	}
	.cl-md-6{
		width: 50%;
	}
	.cl-md-7{
		width: 58.33%;
	}
	.cl-md-8{
		width: 66.66%;
	}
	.cl-md-9{
		width: 75%;
	}
	.cl-md-10{
		width: 83.33%;
	}
	.cl-md-11{
		width: 91.66%;
	}
	.cl-md-12{
		width: 100%;
	}
}
