*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1{
  font-family:cursive,sans-serif;
  text-align: center;
  margin: 15px;
}

.row{
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
}

section{
  padding: 13px;  
}

div.section{
  position: relative;
  background-color: grey;
  border: 1px solid black;
  overflow: hidden;
}

h2{
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  font-family: cursive,sans-serif;
  text-align: center;
  font-size: 125%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5% 1% 0.5% 1%;
}

#title1{
  background-color: #FFB6C1;
}

#title2{
  background-color: #b19cd9;
  color: white;
}

#title3{
  background-color: #FF7F50;
}

p{
  font-family: Comic Sans MS,cursive,sans-serif;
  padding: 3%;
  padding-top: 38px;
  overflow: hidden;
}
/*****large device********/
@media (min-width: 992px){
  .col-lg-4{
    width: 33.33%;
    float:left;
  }
}

/*********medium device*******/
@media (min-width: 768px) and (max-width: 991px){
  .col-md-6,.col-md-12{
    float: left;
  }

  .col-md-6{
    width: 50%;
  }

  .col-md-12{
    width: 100%;
  }
}

/********small device**********/
@media (max-width: 767px){
  .col-sm-12{
    width: 100%;
    float: left;
  }
}

