body{
	font-size: 16px;
	color: #fff; /*white*/
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

/**HEADER**/
#header-nav{
	background-color: #f6b315;
	border-radius: 0;
	border: 0;
}

#logo-image{
	background: url('../image/restaurant logo.jpg') no-repeat;
	width: 150px;
	height: 150px;
	margin: 0px 15px 10px 0;
}